div{
  display:none;
  font-family:sans-serif;
  font-size:18pt;
}

a:hover{
  font-variant:small-caps;
  color:Red;
}
body {
  background-image: url("house.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#inv_box{
display:flex;
color:white;
background:black;
position: fixed;
bottom: 50px;
right: 50px;
}
#GO{
  font-size:200pt;
  color:Red;
}
